/* ## header */
.header {
  position: inherit;
}

/*  */
.container {
  width: 1320px;
  margin: 0 auto;
}

/* ## link */
.link ul {
  /* margin-top: 100px; */
  display: flex;
  height: 500px;
  width: 100%;
}

.link ul li.jh {
  width: 100%;
  background-color: #d8e0e8;
}
.link ul li.fire {
  width: 100%;
  background-color: #388fe4;
  display: flex;
  justify-content: right;
}

.link ul li a {
  display: block;
  height: 500px;
  width: 400px;
  background: url(../images/jhbook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
}
.link ul li:hover a {
  display: block;
  height: 500px;
  width: 400px;
  background: url(../images/jhbook_hover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.link ul li.busan a {
  background: url(../images/Busan_hover.svg);
  background-repeat: no-repeat;
  background-position: right;
  object-fit: right;
  background-size: cover;
  /* margin-left: ; */
}
.link ul li.busan:hover a {
  background: url(../images/Busan.svg);
  background-repeat: no-repeat;
  background-position: right;
  object-fit: right;
  background-size: cover;
}

.link ul li.fire a {
  background: url(../images/SamFire.jpg);
  background-position: left;
  background-size: cover;
}
.link ul li.fire:hover a {
  background: url(../images/SamFire_hover.png);
  background-position: left;
  background-size: cover;
}

/* ## body */

/* # hero */
.hero {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 타이틀 */
.hero .title h2 {
  font-weight: 700;
}

.hero .title p {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.hero .container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

/* 스크롤 애니메이션 */
.hero .photo {
  width: 400px;
  height: 425px;
  background-color: #ddd;
  border-radius: 30px;
  border: 4px solid #444;
  overflow: hidden;
  background: url(../images/web_top.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 400px;
}

.hero img {
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  top: 36px;
  transition: all 0.9s;
}

.hero .photo:hover {
}

.hero .photo:hover img {
  top: -707px;
  transition: all 3s;
}

/* 글자 */
.hero .text_box {
  width: 500px;
}

.hero .text_box h5 {
}

.hero .text_box p {
  padding-top: 40px;
  font-weight: 400;
  line-height: 2;
  color: #444;
}

/* # 배너 */
.banner {
  width: 100%;
  background: #f0f0f0;
  text-align: center;
  margin-top: 140px;
}

.banner .text_box {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 17px;
}

.banner p {
  color: #333;
  font-weight: 400;
}
/* 섹션 */
.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 80px;
  border-bottom: 1px solid #f9f9f9;
}

.section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.section .title .p2 {
  padding: 7px 16px;
  border: 1px solid #222;
  border-radius: 99px;
}

.section .right .p2 {
  background-color: #222;
  color: #fff;
}

.section .img {
  margin-bottom: 20px;
}

.section .text_wrap {
  margin: 0 auto;
  width: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 1.5;
}
.section .text_wrap p {
  color: #555;
}

.section i.xi-arrow-right {
  /* display: none; */
  position: absolute;
  font-size: 50px;
  /* font-weight: bold; */
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

/*  */
/*  */
/* ##  링크 */
.link_work {
  height: 550px;
  background-color: #f9f9f9;
}

.link_work img {
  width: 140px;
}

.link_work {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  justify-content: center;
}

.link_wrap {
  display: flex;
  gap: 200px;
}

.link_wrap a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.link_wrap h6 {
  font-weight: 600;
}

.link_work .wish h4 {
  font-weight: 600;
}

.link_work .wish p {
  color: #444;
}

.link_work .wish {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: center;
}
