@font-face {
  font-family: 'seolleimcool-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100%;
  height: 110px;
  top: 0;
  left: 0;
  z-index: 2;
  /* display: none; */
  transition: all 0.1s;
}

.header.show {
  position: fixed;
  color: #fff;
}

.logo_wrap {
  display: flex;
  height: 100px;
  padding: 0 95px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(224, 225, 231, 0.05);
  /* backdrop-filter: blur(1px); */
}

.logo_wrap a,
.logo_wrap i {
  z-index: 9;
}

.logo_wrap h3 {
  font-family: 'seolleimcool-SemiBold';
  font-size: 34px;
  font-weight: 100;
}

.header.show .logo_wrap h3 {
  /* font-size: 40px; */
}

.logo_wrap > i {
  font-size: 30px;
  cursor: pointer;
}
/* 백그라운드 애니메이션 */

.bk.box {
  position: absolute;
  top: 250px;
  left: 125px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lighten(#f0f4c3, 10%);
  /* overflow: hidden; */
  transform: translate3d(0, 0, 0);
  /* transition: all 0.5s; */
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(226, 171, 248);
  width: 75px;
  height: 75px;
  margin-left: -225px;
  margin-top: -240px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  transition: all 1s;
}

.wave.one {
  background: rgb(145, 92, 105);
}

.wave.two {
  background: rgb(248, 232, 138);
}

.wave.three {
  background: rgb(84, 144, 255);
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
}
.wave.two.-two {
  /* background: #eef3a7; */
}

.bk.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.bk.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

/* 업버튼 */

.up_btn {
  position: fixed;
  bottom: -50px;
  right: 30px;
  transition: all 0.3s;
}
.up_btn.show {
  bottom: 30px;
  display: block;
}

/* 메뉴 */
.logo_wrap {
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #d48246;
  display: none;
}

.menu .gnb {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 38px;
  color: #fff;
  font-weight: 600;
}

.header.show .menu {
  display: block;
}
