body {
  position: relative;
  height: 100vh;
}

.header {
  position: fixed;
}

.logo_wrap {
  /* background-color: inherit; */
}

.left .title a {
  cursor: default;
}

.left .title h1 {
  width: 600px !important;
}

/* ## 스와이퍼 */

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: red; */
}

.swiper .section .left {
  padding-top: 170px;
  z-index: 99;
}

.swiper .section .right {
}

/* #swiper .section .right img {
  display: block;
  width: 500px;
  height: 630px;
  transition: all 0.3s;
} */

#swiper .section .right {
  width: 500px;
  height: 630px;
  margin-right: 70px;
}

#swiper .section_1 .right {
  background: url(../images/jhbook.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#swiper .section_2 .right {
  background: url(../images/Busan.svg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
#swiper .section_3 .right {
  background: url(../images/SamFire.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
#swiper .section_4 .right {
  background: url(../images/rebyu.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
#swiper .section .right {
  transition: all 1s;
}
#swiper .section_1 .right:hover {
  background: url(../images/jhbook_hover.png);
}
#swiper .section_2 .right:hover {
  background: url(../images/Busan_hover.svg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
#swiper .section_3 .right:hover {
  background: url(../images/SamFire_hover.png);
}
#swiper .section_4 .right:hover {
  background: url(../images/rebyu_hover.jpg);
}

#swiper .section .link_info {
  position: relative;
  z-index: 1;
}

#swiper .section .left .intro {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

#swiper .section .left .intro .p2 {
  padding: 5px 0;
  font-weight: 700;
  color: #555;
}

#swiper .section .left .intro .box {
  font-weight: 600;
  padding: 7px 12px;
  margin-left: 3px;
  background-color: #ff6b6b;
  color: #fff;
}

#swiper .section .p3 {
  color: #333;
  font-weight: 700;
  display: block;
  padding-top: 13px;
  padding-left: 5px;
}

#swiper .section .title {
  position: relative;
  height: 156px;
  padding-left: 410px;
}

#swiper .section h1 {
  position: absolute;
  width: 1920px;
  top: 0;
  left: 0;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: auto;
}

/* # 슬라이드 이펙트 */
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 50px;
}

.swiper-pagination {
  position: absolute;
  /* transform: translateY(-50%); */
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 17px 0px;
}

.swiper-pagination-bullet {
  width: 2px;
  height: 28px;
  background: #222;
  opacity: 0.3;
  /* margin: 0 100px; */
  /* padding: 0 10px; */
  border-radius: 0;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  /* background: #222; */
  height: 42px;
  opacity: 1;
}

/* 슬라이드 애니메이션 */
.swiper-slide-active .left {
  animation: smaller 0.5s ease-in-out;
}
.swiper-slide-active .right {
  animation: smaller 0.6s ease-in-out;
}

@keyframes smaller {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(0.8);
  }
}
