.wrap {
}

/* ## 풀페이지 */
#fullpage .section .fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fullpage .section .left {
  padding-top: 170px;
}

#fullpage .section .right {
}

/* #fullpage .section .right img {
  display: block;
  width: 500px;
  height: 630px;
} */

#fullpage .section .right {
  width: 500px;
  height: 630px;
  margin-right: 70px;
  transition: all 0.5s;
}

#fullpage .section_1 .right {
  background: url(../images/jhbook.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

#fullpage .section_2 .right {
  background: url(../images/Busan.svg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
#fullpage .section_3 .right {
  background: url(../images/SamFire.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
#fullpage .section .right:hover {
  /* transition: all 1s; */
}
#fullpage .section_1 .right:hover {
  background: url(../images/jhbook_hover.png);
}
#fullpage .section_2 .right:hover {
  background: url(../images/Busan_hover.svg);
}
#fullpage .section_3 .right:hover {
  background: url(../images/SamFire_hover.png);
}

#fullpage .section .left .intro {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

#fullpage .section .left .intro .p2 {
  padding: 5px 0;
  font-weight: 700;
  color: #555;
}

#fullpage .section .left .intro .box {
  font-weight: 600;
  padding: 7px 12px;
  margin-left: 3px;
  background-color: #ff6b6b;
  color: #fff;
}

#fullpage .section a.p3 {
  color: #333;
  font-weight: 700;
  display: block;
  padding-top: 13px;
  padding-left: 5px;
}

#fullpage .section .title {
  position: relative;
  height: 156px;
  padding-left: 410px;
}

#fullpage .section h1 {
  position: absolute;
  width: 1920px;
  top: 0;
  left: 0;
  font-weight: 700;
  letter-spacing: -5px;
  /* line-height: auto; */
}

#fullpage .section {
}

#fullpage .section {
}

#fullpage .section {
}
