/* ## header */
.header {
  /* position: inherit; */
}

.logo_wrap {
  /* background-color: rgba(254, 254, 251, 0.7); */
  /* backdrop-filter: blur(3px); */
}

/*  */

/* ## body */

/* # hero */
.hero {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #ffe6e6, #dac7c7);
}

/* 타이틀 */
.hero .title h2 {
  margin-top: 30px;
  font-weight: 600;
}

.hero .title p {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.hero .container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

/* 링크 */

.hero .link_work img {
  display: block;
  width: 30px;
  position: relative;
  top: 36px;
  transition: all 0.9s;
}

.hero .link_work {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
  justify-content: center;
}

.hero .link_wrap {
  display: flex;
  gap: 80px;
}

.hero .link_wrap a {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.hero .link_wrap h6 {
  font-weight: 600;
  font-size: 14px;
}
/* 기본설정 */
.section img {
  margin: 0 auto;
}
/* section 1 */
.section.first {
  background: linear-gradient(to bottom, #dac7c7, #e39999);
}
.section.second {
  background: linear-gradient(to bottom, #e49a9a, #e0a8a8);
}
.section.fourth {
  background: linear-gradient(to bottom, #e49a9a, #e0a8a8);
}
.section.fifth {
  background: linear-gradient(to bottom, #e0a8a8, #e39999);
}
