img {
  display: block;
  width: 100%;
}

.body .title {
  margin-bottom: 150px;
  text-align: center;
}

.body > div {
  width: 1424px;
  margin: 0 auto;
  margin-bottom: 150px;
}

/* 타이틀박스 */
.body > div li:first-child {
  position: relative;
}

.title_box {
  display: inline;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 27px;
  background-color: #444;
  color: #fff;
  position: absolute;
  top: -75px;
  left: 10px;
  border-radius: 2px;
}

/* ul 공통 */
ul.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  width: 408px;
  /* place-items: center; */
}

ul.item li {
}

/* link 공통 */
ul.item .link_work img {
  width: 30px;
}

ul.item .link_work {
  height: 89px;
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul.item .link_wrap {
  display: flex;
  gap: 80px;
}

ul.item .link_wrap a {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

ul.item .link_wrap h6 {
  font-weight: 600;
  font-size: 14px;
}
/* */
ul.item .info {
  height: 89px;
  text-align: center;
  line-height: 89px;
  font-size: 18px;
  font-weight: 500;
}

/* 호버하면 info -> link 나타나게 하기  */

ul.item .link_work.show {
  display: flex;
}
ul.item .info.hide {
  display: none;
}

/* +아이콘에 호버하면 색깔 주기 */
.link_work img.hover-image {
  display: none;
}

.link_work li:hover img.hover-image {
  display: inline-block;
}

.link_work li:hover img.normal-image {
  display: none;
}

/* web */
.photo {
  width: 400px;
  height: 480px;
  /* background-color: #ddd; */
  border-radius: 30px;
  border: 4px solid #444;
  overflow: hidden;
}

.web .photo {
  background: url(../images/web_top.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 400px;
}

.web img {
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  top: 36px;
  transition: all 1.3s;
}

.web .photo:hover img {
  top: -169px;
  transition: all 1.3s;
}

.web .item > li:nth-child(2) .photo:hover img {
  top: -654px;
  transition: all 2.7s;
}
.web .item > li:nth-child(3) .photo:hover img {
  top: -454px;
  transition: all 2.3s;
}
